<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!-- 读取配置文件 -->
    <context:property-placeholder
            location="classpath:jdbc-mysql.properties, classpath:application.properties" />

    <!-- 自动扫描(自动注入) -->
    <context:component-scan base-package="
            asia.gkc.vneedu.service,
            asia.gkc.vneedu.common,
            asia.gkc.vneedu.storage,
            asia.gkc.vneedu.utils,
            asia.gkc.vneedu.authorization.resolver"/>

    <!-- 开启AOP监听 只对当前配置文件有效 -->
    <aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true" />

    <!---->
    <bean id="storageFactory" name="storage" class="asia.gkc.vneedu.storage.StorageFactory" factory-method="getStorage">
        <constructor-arg name="bucket" type="java.lang.String" value="${app.storage.cdn.bucket}" />
    </bean>
</beans>