<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.gkc.vneedu.repository.NotificationMapper">
  <resultMap id="BaseResultMap" type="asia.gkc.vneedu.model.Notification">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="receiver_id" jdbcType="VARCHAR" property="receiverId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="removed" jdbcType="INTEGER" property="removed" />
  </resultMap>
</mapper>