<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 Jakes Lee
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.gkc.vneedu.repository.RequirementMapper">
  <resultMap id="BaseResultMap" type="asia.gkc.vneedu.model.Requirement">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="publisher_id" jdbcType="VARCHAR" property="publisherId" />
    <result column="datetime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="pay_method" jdbcType="INTEGER" property="payMethod" />
    <result column="nice" jdbcType="INTEGER" property="nice" />
    <result column="trade_status" jdbcType="INTEGER" property="tradeStatus" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="removed" jdbcType="INTEGER" property="removed" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>