<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 Jakes Lee
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.gkc.vneedu.repository.UserMapper">
  <resultMap id="BaseResultMap" type="asia.gkc.vneedu.model.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="at_id" jdbcType="VARCHAR" property="atId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password_hash" jdbcType="VARCHAR" property="passwordHash" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="area" jdbcType="VARCHAR" property="area" />
  </resultMap>

  <select id="selectByPhone" resultMap="BaseResultMap" >
    SELECT * FROM user WHERE phone = #{phone}
  </select>

  <select id="selectByAtId" resultMap="BaseResultMap" >
    SELECT * FROM user WHERE at_id = #{atId}
  </select>

</mapper>